#container
{
    position:fixed;
    margin-left:10%;
    margin-right:auto;
    padding:0;
    width:1080px;        /*om satt till 100% så buggar inte att flytta diven, varför?*/ 
    height:650px;           
    background-image:url(Pics/default.jpg);
    background-size:inherit;
    background-repeat:no-repeat;
}

body {
    margin-left:auto;
    margin-right:auto;
    background-color:black;
}

footer {
    width:100%;
    height:75px;
    position:absolute;
    bottom:0;
    border-top:5px solid black;
    background-color:rgba(0, 0, 0, 0.4);
}

#PicFooter{
    margin-top:10px;
    margin-left:10px;
    width:54px;
    height:54px;
    -webkit-transition: .15s linear;
	-moz-transition: 152 linear;
	transition: .15s linear;
}

#PicFooter:hover{
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    transform: scale(1.4);
}

#PicWindow{
    border:1px solid black;
    display:block;
    width:345px;
    height:515px;
    background-color:#AB5531;
}

.pictureBox{
    background-position:center;
    background-repeat:no-repeat;
    padding:5px;
    padding-bottom:0;
    display:block;
    margin-top:10px;
    margin-left:10px;
    background-color:#798580;
}

.PicChoices{
    width:auto;
    height:400px;
    background-color:white;
    margin:auto;
    overflow-y:scroll;
}

.CloseWindow{
    
    background-image:url(Pics/closePic.png);
    background-size:12px 12px;
    background-repeat:no-repeat;
    background-position:center;
    position:relative;
    top:-1px;
    left:300px;
    margin-bottom:30px;
    
    width:36px;
    height:16px;
    display:block;
    border:1px solid black;
}

.CloseWindow:hover{
    background-color:#403219;
}

.windowStatus{
    text-align:left;
    background-image:url(Pics/PictureFolder.png);
    background-repeat:no-repeat;
    background-size:16px 16px;
    margin-left:2px;
    position:absolute;
    text-indent:18px;
    left:0;
    top:2px;
    
}

.imgPosition{
    margin-left:auto;
    margin-right:auto;
}

.gifEdits{
    width:16px;
    height:16px;
    margin-top:4px;
}

.pictureBox img {
    margin-left:auto;
    margin-right:auto;
    
}

p {
    margin:0;
}
