#Board{
    width:1000px;
    height:1000px;
    position:relative;
    
}

.TopTilesMargin{
    margin-left:24px;
}

.VerticalLine1{
    position:absolute;
    left:0px;
    margin-top:48px;
}

.VerticalLine2{
    position:absolute;
    left:0px;
    margin-top:96px;
}

.VerticalLine3{
    position:absolute;
    left:0px;
    margin-top:144px;
}


.VerticalLine5{
    position:absolute;
    left:48px;
    margin-top:48px;
}

.VerticalLine6{
    position:absolute;
    left:48px;
    margin-top:96px;
}

.VerticalLine7{
    position:absolute;
    left:48px;
    margin-top:144px;
}


.VerticalLine9{
    position:absolute;
    left:96px;
    margin-top:48px;
}

.VerticalLine10{
    position:absolute;
    left:96px;
    margin-top:96px;
}

.VerticalLine11{
    position:absolute;
    left:96px;
    margin-top:144px;
}


.VerticalLine13{
    position:absolute;
    left:144px;
    margin-top:48px;
}

.VerticalLine14{
    position:absolute;
    left:144px;
    margin-top:96px;
}

.VerticalLine15{
    position:absolute;
    left:144px;
    margin-top:144px;
}