#container
    {
    
    height:1000px;
    width:auto;
    background-color:#3B5998;
    margin:0 auto;
    }
    
header
    {
        box-shadow:0 10px 25px;
        -webkit-box-shadow:0 10px 25px;
        -moz-box-shadow:0 10px 25px;
        color:white;
        text-shadow:2px 2px black;
        -webkit-text-shadow:2px 2px black;
        -moz-text-shadow:2px 2px black;
        font-family: 'Montserrat', sans-serif;
        font-size:45px;
        padding-top:50px;
        height:100px;
        position:relative;
        left:588.5px;
        background-color:#2A406F;
        width:710px;
        text-align:center;
    }
    
main
    {
        padding:30px;
        position:relative;
        left:588.5px;
        margin-top:30px;
        background-color:#354458;
        height:auto;
        width:650px;
    }

textarea {
    width:644px;
    height:200px;
    
    font-size:24px;
    font-family:arial;
}

.MessageTime{
    margin-right:3px;
    position:absolute;
    bottom:0px;
    right:0px;
    font-size:12px;
    color:#2A406F;
}   
   
    
.floatRight{
    float:right;
}



.DeletePicture
{
    width:24px;
    height:24px;
    position:absolute;
    top:5px;
    right:0;
}

.ClockPicture
{
    width:24px;
    height:24px;
    position:absolute;
    top:5px;
    right:30px;
}
    
#text
{ 
    border:5px solid black;
    padding:5px;
    overflow-y:scroll; 
    height:360px; 
    max-height:360px;
    
}

.text
{
    padding-right:70px;
    padding-left:5px;
    font-family:verdana;
    font-size:26px;
    border:1px solid black;
    background-color:#4F69A2;
    width:auto;
    height:auto;
    min-height:50px;
    position:relative;
    word-break:break-all;
}

